.price-card {
  width: 380px;
  height: 770px;
  margin-right: 18px;
  background: #334247;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 1px;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__top {
  width: 100px;
  height: 64px;
  color: #FFFFFF;
  margin: 33px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-card__top-title {
  margin: 0;
  font-size: 35px;
  display: inline-block;
}
.price-card__top-paragaph {
  margin: 0;
  font-size: 20px;
  display: inline-block;
}
.price-card__price {
  width: 380px;
  height: 105px;
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.price-card__description {
  margin: 40px 27px 40px 26px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
}
.price-card__options-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  font-size: 15px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
  list-style-type: none;
  color: #FFFFFF;
  width: 380px;
  height: 50px;
}
li:nth-child(odd) {
  background: #2A3438;
}

.cheked {
  width: 15px;
  height: 13px;
  display: inline-block;
  margin-top: 18px;
  margin-left: 22px;
  margin-right: 22px;
}

.order__button {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 39px;
  width: 154.63px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 20px;
  border-width: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  color: #FFFFFF;
}

.price-table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  background: #141B1C;
  min-width: 100%;
  min-height: 100vh;
}

.first {
  background: #5BB189;
}
.first__checked {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}

.second {
  background: #3A6BA5;
}
.second__checked {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}

.third {
  background: #EC632A;
}
.third__checked {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}

.popular {
  width: 122px;
  height: 123px;
  position: absolute;
  top: -18px;
  right: -18px;
}
.popular__inner {
  clip-path: polygon(17% 0, 82% 0, 100% 100%, 0 100%);
  position: absolute;
  top: 47px;
  right: -12px;
  height: 25px;
  line-height: 25px;
  width: 143px;
  text-transform: uppercase;
  background: #DC3F45;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  transform: rotate(45deg);
}

.business {
  padding-top: 2px;
}

/*# sourceMappingURL=styles.css.map */
